.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    img {
        width: 80px;
    }
    &_buttons {
        display: flex;
        align-items: center;
        &-write, &-order {
            font-family:'Times New Roman', Times, serif;
            height: 50px;
            width: 155px;
            text-transform: uppercase;
            background-color: #242323;
            color: #fff;
            border-radius: 8px;
            transition: .6s ease-in-out;
            &:hover {
                background: none;
                color: #242323;
            }
        }
        &-order {
            margin-right: 10px;
            background: none;
            color: #242323;
            &:hover {
                background: #242323;
                color: #fff;
            }
        }
        &-write {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;            
            outline: 1px solid #242323;
            font-size: 13px;
            letter-spacing: 1px;
        }
    }
}

@media (max-width: 576px) {
    .header {
        &_buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            button, a {
                margin: 5px 0 5px 0;
                width: 170px;
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 576px) {
    .header {
        justify-content: space-around;
    }
}